::-webkit-scrollbar {
      width: 20px;
      background-color: transparent;
      
}
correction of spelling errors
::-webkit-scrollbar-track {
      background-color: transparent;
}

::-webkit-scrollbar-thumb {
      background-color: var(--special-bg-color);
      border-radius: 20px;
      border: 6px solid transparent;
      background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
      background-color: var(--special-text-color);
}



